.container {
  background-color: rgb(234, 180, 198);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: #eb0bff;
  width: 90px;
  padding: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  border-width: 0px;
}
.card {
  background-color: #ffffff;
  height: 30vh;
  width: 60vw;
  border-radius: 5px;
  text-align: center;
  padding: 12px 4px;
}
.editText {
  display: flex;
  gap: 12px;
  justify-content: center;
  position: relative;
  top: 20px;
}
input {
  width: 90%;
}
@media (max-width: 400px) {
  .card {
    background-color: #ffffff;
    height: 30vh;
    width: 90vw;
  }
}
